<key>NSLocationAlwaysUsageDescription</key>
<string>Your location allows you to view STEM events while accessing the app.</string>
<key>NSLocationUsageDescription</key>
<string>Your location allows you to view STEM events while accessing the app.</string>
<key>NSLocationWhenInUseUsageDescription</key>
<string>Your location allows you to view STEM events while accessing the app.</string>
 
 